<head>
  <title>Leaderboard</title>
</head>

<body>

	<a target="_blank" href="http://bitbucket.org/sdelquin/leaderboard" title="Fork me on Atlassian Bitbucket"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://db.tt/NaOA5GZY"></a>

  <div id="outer">
    {{> leaderboard}}
  </div>
</body>

<template name="leaderboard">
  <div class="leaderboard">
    {{#each players}}
      {{> player}}
    {{/each}}
  </div>

  {{#if selected_name}}
  <div class="details">
    <div class="name">{{selected_name}}</div>
    <input type="button" class="inc" value="Give 1 point" />
  </div>
<!--   <div class="userinput">
    <p><div class="label">Name:</div> <input type="text" class="name" /></p>
    <p><div class="label">Comment:</div> <input type="text" class="comment" /></p>
    <input type="button" disabled="enabled" class="inc" value="Give 1 point" />

  </div>
 -->  {{/if}}

  {{#unless selected_name}}
  <div class="none">Click a player to select</div>
  {{/unless}}
</template>

<template name="player">
  <div class="player {{selected}}">
    <span class="name">{{name}}</span>
    <span class="score">{{score}}</span>
  </div>
</template>

